In [10]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [11]:
import warnings
warnings.filterwarnings("ignore", category = FutureWarning)

In [33]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

In [34]:
data = requests.get(url).text
soup = BeautifulSoup(data, "html.parser")
netflix_data = pd.DataFrame(columns= ["Date","Open","High","Low","Close","Volume"])

In [35]:
for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    volume = col[5].text

netflix_data = pd.concat([netflix_data,pd.DataFrame({"Date":[date], "Open":[open], "Low":[low], "Close":[close], "Volume":[volume]})], ignore_index = True)
netflix_data.head()

           Date    Open High    Low   Close  Volume
0  Sep 01, 2015  109.35  NaN  93.55  103.26  103.26

## What is read_html in pandas library?
`pd.read_html(url)` is a function provided by the pandas library in Python that is used to extract tables from HTML web pages. It takes in a URL as input and returns a list of all the tables found on the web page. 
</center>

In [20]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

In [37]:
read_data_pandas =pd.read_html(url)
net_flix_data = read_data_pandas[0]
net_flix_data.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300

In [38]:

# soup = BeautifulSoup(url , "html.parser")
# read_data_pandas = pd.read_html(str(soup))
# read_data_pandas[0]

# Exercise: use webscraping to extract stock data

In [51]:
import requests
import pandas as pd
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"
html_data = requests.get(url).text
soup = BeautifulSoup(html_data, "html.parser")
for row in soup.find("title"):
    print(row)

Amazon.com, Inc. (AMZN) Stock Historical Prices & Data - Yahoo Finance

Using BeautifulSoup, extract the table with historical share prices and store it into a data frame named `amazon_data`. The data frame should have columns Date, Open, High, Low, Close, Adj Close, and Volume. Fill in each variable with the correct data from the list `col`.

In [45]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close" ,"Adj_Close", "Volume"])

In [49]:
for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text

amazon_data = pd.concat([amazon_data, pd.DataFrame({"Date":[date], "Open":[open], "High":[high], "Low":[low], "Close":[close],"Adj_Close":[adj_close], "Volume":[volume]})], ignore_index = True)
amazon_data

           Date    Open    High     Low   Close Adj_Close       Volume
0  Jan 01, 2016  656.29  657.72  547.18  587.00    587.00  130,200,900
1  Jan 01, 2016  656.29  657.72  547.18  587.00    587.00  130,200,900
2  Jan 01, 2016  656.29  657.72  547.18  587.00    587.00  130,200,900